# Large 3D model source file 
public/assets/space_boi/scene.bin
public/assets/space_boi/scene.gltf

public/assets/scene.bin
public/assets/scene.gltf

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
